<!-- Start Upcoming Tools -->
<h3 class="content-header">Upcoming or Experimental Tools</h3>

<mat-card class="custom-card-spacing">
  <mat-card-header>
    <div mat-card-avatar class="avatar-docker"></div>
    <mat-card-title>Docker</mat-card-title>
    <mat-card-subtitle>Container Technology - "Build, Ship, Run"</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      Containers are isolated from one another and bundle their own software, libraries and configuration files;
      they can communicate with each other through well-defined channels.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <a mat-raised-button href="https://www.docker.com" target="_blank">Official Site</a>
  </mat-card-actions>
</mat-card>
<!-- End Upcoming Tools -->
