<!-- Start Legacy Tools -->
<h3 class="content-header">
  <fa-icon [icon]="['fas', 'exclamation-triangle']" size="lg" class="warning"></fa-icon>&nbsp;
  Links may break as servers are retired.
</h3>

<mat-card class="custom-card-spacing">
  <mat-card-header>
    <div mat-card-avatar class="avatar-jenkins"></div>
    <mat-card-title>Jenkins</mat-card-title>
    <mat-card-subtitle>Previous CI/CD Server</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>
    <a mat-raised-button class="tools-deprecated" href="{{legacyJenkinsUrl}}" target="_blank">Legacy MGE Jenkins</a>
  </mat-card-actions>
</mat-card>
<mat-card class="custom-card-spacing">
  <mat-card-header>
    <div mat-card-avatar class="avatar-mercurial"></div>
    <mat-card-title>Mercurial</mat-card-title>
    <mat-card-subtitle>Previous Version Control System</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>
    <a mat-raised-button class="tools-deprecated" href="{{legacyMercurialUrl}}" target="_blank">Legacy MGE Mercurial</a>
  </mat-card-actions>
</mat-card>
<mat-card class="custom-card-spacing">
  <mat-card-header>
    <div mat-card-avatar class="avatar-opengrok"></div>
    <mat-card-title>OpenGrok</mat-card-title>
    <mat-card-subtitle>Previous Source Code Search Engine</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>
    <a mat-raised-button class="tools-deprecated" href="{{legacyOpengrokUrl}}" target="_blank">Legacy MGE OpenGrok</a>
  </mat-card-actions>
</mat-card>
<mat-card class="custom-card-spacing">
  <mat-card-header>
    <div mat-card-avatar class="avatar-nexus"></div>
    <mat-card-title>Nexus</mat-card-title>
    <mat-card-subtitle>Previous Maven Repository and npm Registry</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>
    <a mat-raised-button class="tools-deprecated" href="{{legacyNexusUrl}}" target="_blank">Legacy MGE Nexus</a>
  </mat-card-actions>
</mat-card>
<!-- End Legacy Tools -->
