.avatar-jenkins {
  background-image: url('../../../assets/images/avatars/tools/jenkins.png');
  background-size: cover;
}

.avatar-mercurial {
  background-image: url('../../../assets/images/avatars/tools/hg.png');
  background-size: cover;
}

.avatar-opengrok {
  background-image: url('../../../assets/images/avatars/tools/opengrok.png');
  background-size: cover;
}

.avatar-nexus {
  background-image: url('../../../assets/images/avatars/tools/sonatype.png');
  background-size: cover;
}

.tools-deprecated {
  background-color: rgba(255, 173, 40, 0.83);
}
