.avatar-jenkins {
  background-image: url('../../../assets/images/avatars/tools/jenkins.png');
  background-size: cover;
}

.avatar-gitlab {
  background-image: url('../../../assets/images/avatars/tools/gitlab.svg');
  background-size: cover;
}

.avatar-opengrok {
  background-image: url('../../../assets/images/avatars/tools/opengrok.png');
  background-size: cover;
}

.avatar-artifactory {
  background-image: url('../../../assets/images/avatars/tools/jfrog.svg');
  background-size: cover;
}

.avatar-sonarqube {
  background-image: url('../../../assets/images/avatars/tools/sonarqube.png');
  background-size: cover;
}
