<!-- Current Tools -->
<mat-card class="custom-card-spacing">
  <mat-card-header>
    <div mat-card-avatar class="avatar-jenkins"></div>
    <mat-card-title>Jenkins</mat-card-title>
    <mat-card-subtitle>CI/CD Server</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      A free and open source automation server. It helps automate the parts of software development related
      to building, testing, and deploying, facilitating continuous integration and continuous delivery.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <a mat-raised-button class="mat-primary" href="{{jenkinsUrl}}" target="_blank">MGE Jenkins</a>
    <a mat-raised-button href="https://www.jenkins.io" target="_blank">Official Site</a>
  </mat-card-actions>
</mat-card>
<mat-card class="custom-card-spacing">
  <mat-card-header>
    <div mat-card-avatar class="avatar-gitlab"></div>
    <mat-card-title>GitLab</mat-card-title>
    <mat-card-subtitle>Version Control System</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      A web-based DevOps lifecycle tool that provides a Git-repository manager providing wiki, issue-tracking
      and continuous integration and deployment pipeline features, using an open-source license.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <a mat-raised-button class="mat-primary" href="{{gitlabUrl}}" target="_blank">MGE GitLab</a>
    <a mat-raised-button href="https://www.gitlab.com" target="_blank">Official Site</a>
  </mat-card-actions>
</mat-card>
<mat-card class="custom-card-spacing">
  <mat-card-header>
    <div mat-card-avatar class="avatar-opengrok"></div>
    <mat-card-title>OpenGrok</mat-card-title>
    <mat-card-subtitle>Source Code Search Engine</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      A source code search and cross reference engine. It helps programmers to search, cross-reference and
      navigate source code trees to aid code comprehension.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <a mat-raised-button class="mat-primary" href="" target="_blank">MGE OpenGrok</a>
    <a mat-raised-button href="https://www.oracle.github.io/opengrok/" target="_blank">Official Site</a>
  </mat-card-actions>
</mat-card>
<mat-card class="custom-card-spacing">
  <mat-card-header>
    <div mat-card-avatar class="avatar-artifactory"></div>
    <mat-card-title>Artifactory</mat-card-title>
    <mat-card-subtitle>Maven Repository, npm Registry, and Docker Registry</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      An artifact repository that manages the end-to-end artifact lifecycle; a source for artifacts needed for
      a build and a target to which artifacts generated during a build process may be deployed.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <a mat-raised-button class="mat-primary" href="{{artifactoryUrl}}" target="_blank">MGE Artifactory</a>
    <a mat-raised-button href="https://www.jfrog.com/artifactory/" target="_blank">Official Site</a>
  </mat-card-actions>
</mat-card>
<mat-card class="custom-card-spacing">
  <mat-card-header>
    <div mat-card-avatar class="avatar-sonarqube"></div>
    <mat-card-title>SonarQube</mat-card-title>
    <mat-card-subtitle>Static Analysis Tool</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      An open-source platform developed by SonarSource for continuous inspection of code quality to perform
      automatic reviews with static analysis of code to detect bugs, code smells, and security vulnerabilities.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <a mat-raised-button class="mat-primary" href="{{sonarqubeUrl}}" target="_blank">MGE SonarQube</a>
    <a mat-raised-button href="https://www.sonarqube.org/" target="_blank">Official Site</a>
  </mat-card-actions>
</mat-card>
<!-- End Current Tools -->
