.avatar-sumologic {
  background-image: url('../../assets/images/avatars/tools/sumologic.png');
  background-size: cover;
}

.avatar-pam {
  background-image: url('../../assets/images/avatars/tools/beyondtrust.png');
  background-size: cover;
}

.avatar-atlassian {
  background-image: url('../../assets/images/avatars/tools/atlassian.jpeg');
  background-size: cover;
}

.avatar-nagios {
  background-image: url('../../assets/images/avatars/tools/nagios.png');
  background-size: cover;
}
