<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <h1>MGE DevOps &nbsp;&nbsp;</h1>
    <span class="menu-spacer"></span>
    <div>
<!--      <a mat-button [routerLink]="'/home'" [routerLinkActive]="'link-active'"> Home </a>-->
      <a mat-button [routerLink]="'/cicd-tools'" [routerLinkActive]="'link-active'"> CI/CD Tools </a>
      <a mat-button [routerLink]="'/docs'" [routerLinkActive]="'link-active'"> Documentation </a>
      <a mat-button [routerLink]="'/servers'" [routerLinkActive]="'link-active'"> Servers </a>
      <a mat-button [routerLink]="'/cloud'" [routerLinkActive]="'link-active'"> Cloud </a>
      <a mat-button [routerLink]="'/other-tools'" [routerLinkActive]="'link-active'"> Other Tools </a>
      <a mat-button [routerLink]="'/etc'" [routerLinkActive]="'link-active'"> Etc </a>
      <a mat-button [routerLink]="'/contact'" [routerLinkActive]="'link-active'"> Contact </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list>

      <!-- hidden link to prevent first item in the list from being always auto-highlighted -->
      <a mat-list-item routerLink="/" style="height: 0;"></a>

<!--      <a mat-list-item [routerLink]="'/home'" [routerLinkActive]="'link-active'"-->
<!--         (click)="sidenav.toggle()"><i class="material-icons">home</i>&nbsp;Home </a>-->
      <a mat-list-item [routerLink]="'/cicd-tools'" [routerLinkActive]="'link-active'"
         (click)="sidenav.toggle()"><fa-icon [icon]="['fas', 'tools']"></fa-icon>&nbsp; CI/CD Tools </a>
      <a mat-list-item [routerLink]="'/docs'" [routerLinkActive]="'link-active'"
         (click)="sidenav.toggle()"><fa-icon [icon]="['fas', 'file-alt']"></fa-icon>&nbsp; Documentation </a>
      <a mat-list-item [routerLink]="'/servers'" [routerLinkActive]="'link-active'"
         (click)="sidenav.toggle()"><fa-icon [icon]="['fas', 'server']"></fa-icon>&nbsp; Servers </a>
      <a mat-list-item [routerLink]="'/cloud'" [routerLinkActive]="'link-active'"
         (click)="sidenav.toggle()"><fa-icon [icon]="['fab', 'aws']"></fa-icon>&nbsp; Cloud </a>
      <a mat-list-item [routerLink]="'/other-tools'" [routerLinkActive]="'link-active'"
         (click)="sidenav.toggle()"><fa-icon [icon]="['fas', 'toolbox']"></fa-icon>&nbsp; Other Tools </a>
      <a mat-list-item [routerLink]="'/etc'" [routerLinkActive]="'link-active'"
         (click)="sidenav.toggle()"><fa-icon [icon]="['fas', 'random']"></fa-icon>&nbsp; Etc </a>
      <mat-divider></mat-divider>
      <a mat-list-item [routerLink]="'/contact'" [routerLinkActive]="'link-active'"
         (click)="sidenav.toggle()"><fa-icon [icon]="['fas', 'id-card']"></fa-icon>&nbsp; Contact </a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="main-content">

      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
